# Ex1 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [72]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [73]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [74]:
chipo = pd.read_csv(url, sep = "\t")

### Step 4. See the first 10 entries

In [75]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [76]:
# Solution 1
observations = chipo.shape[0]
observations

4622

In [77]:
# Solution 2
observations_2 = len(chipo)
observations_2

4622

### Step 6. What is the number of columns in the dataset?

In [78]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [79]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [80]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [81]:
# chipo.describe(include="all")["item_name"]["top"]
chipo["item_name"].mode()

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [82]:
max_items2 = chipo.groupby("item_name")["quantity"].sum().sort_values(ascending=False).iloc[0]
max_items2

761

### Step 11. What was the most ordered item in the choice_description column?

In [83]:
# chipo.describe(include="all")["choice_description"]["top"]
chipo["choice_description"].mode()

0    [Diet Coke]
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

In [84]:
total_ordered = chipo["quantity"].sum()
total_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [85]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [86]:
# lambda x: float(x[1:].strip())

chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:].strip()))
# chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.strip("$")))
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

#### Step 13.c. Check the item price type

In [87]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [88]:
(chipo["item_price"] * chipo["quantity"]).sum()

39237.02

### Step 15. How many orders were made in the period?

In [89]:
len(chipo["order_id"].unique())

1834

### Step 16. What is the average revenue amount per order?

In [90]:
# Solution 1
chipo["total_revenue"] = chipo["quantity"] * chipo["item_price"]
total_per_order = chipo.groupby("order_id")["total_revenue"].sum()
average_revenue_per_order = total_per_order.mean()
print("Revenue per order")
print(total_per_order)
print(f"Average for all orders combined: {average_revenue_per_order}")

Revenue per order
order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: total_revenue, Length: 1834, dtype: float64
Average for all orders combined: 21.39423118865867

In [91]:
# Solution 2
total_revenue = (chipo["quantity"] * chipo["item_price"]).sum()
average_revenue_per_order2 = total_revenue / len(chipo["order_id"].unique())
average_revenue_per_order2

21.39423118865867

### Step 17. How many different items are sold?

In [92]:
len(chipo["item_name"].unique())

50